<!DOCTYPE html>
<html>
<head>
    <title>Success Page</title>
</head>
<body>
    {% if recommended_course %}
        <h1>Ура! Вам підходить цей курс!</h1>
        <p>Рекомендований курс: {{ recommended_course }}</p>
        <!-- Інші елементи або інформація, яку ви хочете відобразити -->
    {% else %}
        <h1>Курсу не знайдено</h1>
        <p>Вибачте, рекомендований курс не знайдено.</p>
        <!-- Інші елементи або інформація, яку ви хочете відобразити -->
    {% endif %}
</body>
</html>