{% extends "smart_dogs/base.html" %}
{% load i18n static %}


{% block links %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock links %}



{% block content %}

  <div class="line"></div>  

  <div class="login_div">

    <h2>Увійти до свого облікового запису:</h2>

    {% if form.errors %}
      <p>Ваш логін та пароль не підійшли. Спробувати ще раз.</p>
    {% endif %}

    <form method="post" action="{% url 'users:login' %}" class="form">
      {% csrf_token %}
      {{ form.as_p }}
      
      <button name="submit">увійти</button>
      <input type="hidden" name="next" 
        value="{% url 'smart_dogs:user_courses' %}" />
    </form>
  </div>
    
{% endblock content %}

